@import '../init';
.telesales-list {
    &:not(.telesales-detail) {
        .telesales-list__sidebar {
            width: $telesale-list-sidebar-width;
            @include media-breakpoint-down(lg) {
                position: fixed;
                width: 100%;
                max-width: 350px;
                z-index: 1001;
                left: 0;
                top: 0;
                height: 100%;
                transition: all 0.3s;
                transform: translateX(-100%);
                visibility: hidden;
                &.show {
                    visibility: visible;
                    transform: translateX(0%);
                }
            }
        }
        .telesales-list__sidebar--bg {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: #000;
            opacity: 0.3;
            left: 0;
            top: 0;
            visibility: hidden;
            transition: all 0.3s;
            display: none;
            @include media-breakpoint-down(lg) {
                display: block;
            }
            &.show {
                visibility: visible;
            }
        }
        .telesales-list__content {
            width: calc(100% - #{$telesale-list-sidebar-width});
        }
    }
    &.telesales-detail {
        .telesales-list__sidebar {
            width: $telesale-list-sidebar-width;
            @include media-breakpoint-down(xl) {
                position: fixed;
                width: 100%;
                max-width: 350px;
                z-index: 1001;
                left: 0;
                top: 0;
                height: 100%;
                transition: all 0.3s;
                transform: translateX(-100%);
                visibility: hidden;
                &.show {
                    visibility: visible;
                    transform: translateX(0%);
                }
            }
        }
        .telesales-list__sidebar--bg {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: #000;
            opacity: 0.3;
            left: 0;
            top: 0;
            visibility: hidden;
            transition: all 0.3s;
            display: none;
            @include media-breakpoint-down(xl) {
                display: block;
            }
            &.show {
                visibility: visible;
            }
        }
        .telesales-list__content {
            width: calc(100% - #{$telesale-list-sidebar-width});
        }
    }
}

.telesales-use {
    width: 425px;
    @include media-breakpoint-down(xxl) {
        width: 390px;
    }
    @include media-breakpoint-down(lg) {
        width: 350px;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.telesales-options {
    width: calc(100% - 425px);
    @include media-breakpoint-down(lg) {
        width: calc(100% - 350px);
    }
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.telesales-detail-head {
    height: 71px;
}

.telesales-detail-body {
    height: calc(100% - 71px);
    @include media-breakpoint-down(md) {
        overflow: auto;
    }
}

.reminder-item {
    margin-top: 10px;
    &__name {
        position: relative;
        height: 30px;
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            border-top: 1px dashed #ebedf3;
            position: absolute;
            top: 15px;
            left: 0;
        }
        &:after {
            content: '';
            width: 6px;
            height: 6px;
            background: #3699ff;
            border-radius: 100%;
            position: absolute;
            left: 18px;
            top: 12.5px;
        }
        >span {
            color: #3699ff;
            background: #fff;
            text-transform: uppercase;
            font-weight: 600;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            padding: 0 10px 0 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: calc(100% - 60px);
        }
    }
}

.nav-contract {
    background: #ebedf3;
    .nav-item {
        width: 50%;
        .nav-link {
            border-radius: 0;
            text-align: center;
            cursor: pointer;
            padding: 0.7rem 1rem;
        }
    }
}

.bell {
    -webkit-animation: ring 2s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 2s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 2s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }
    1% {
        -webkit-transform: rotateZ(30deg);
    }
    3% {
        -webkit-transform: rotateZ(-28deg);
    }
    5% {
        -webkit-transform: rotateZ(34deg);
    }
    7% {
        -webkit-transform: rotateZ(-32deg);
    }
    9% {
        -webkit-transform: rotateZ(30deg);
    }
    11% {
        -webkit-transform: rotateZ(-28deg);
    }
    13% {
        -webkit-transform: rotateZ(26deg);
    }
    15% {
        -webkit-transform: rotateZ(-24deg);
    }
    17% {
        -webkit-transform: rotateZ(22deg);
    }
    19% {
        -webkit-transform: rotateZ(-20deg);
    }
    21% {
        -webkit-transform: rotateZ(18deg);
    }
    23% {
        -webkit-transform: rotateZ(-16deg);
    }
    25% {
        -webkit-transform: rotateZ(14deg);
    }
    27% {
        -webkit-transform: rotateZ(-12deg);
    }
    29% {
        -webkit-transform: rotateZ(10deg);
    }
    31% {
        -webkit-transform: rotateZ(-8deg);
    }
    33% {
        -webkit-transform: rotateZ(6deg);
    }
    35% {
        -webkit-transform: rotateZ(-4deg);
    }
    37% {
        -webkit-transform: rotateZ(2deg);
    }
    39% {
        -webkit-transform: rotateZ(-1deg);
    }
    41% {
        -webkit-transform: rotateZ(1deg);
    }
    43% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }
    1% {
        -moz-transform: rotate(30deg);
    }
    3% {
        -moz-transform: rotate(-28deg);
    }
    5% {
        -moz-transform: rotate(34deg);
    }
    7% {
        -moz-transform: rotate(-32deg);
    }
    9% {
        -moz-transform: rotate(30deg);
    }
    11% {
        -moz-transform: rotate(-28deg);
    }
    13% {
        -moz-transform: rotate(26deg);
    }
    15% {
        -moz-transform: rotate(-24deg);
    }
    17% {
        -moz-transform: rotate(22deg);
    }
    19% {
        -moz-transform: rotate(-20deg);
    }
    21% {
        -moz-transform: rotate(18deg);
    }
    23% {
        -moz-transform: rotate(-16deg);
    }
    25% {
        -moz-transform: rotate(14deg);
    }
    27% {
        -moz-transform: rotate(-12deg);
    }
    29% {
        -moz-transform: rotate(10deg);
    }
    31% {
        -moz-transform: rotate(-8deg);
    }
    33% {
        -moz-transform: rotate(6deg);
    }
    35% {
        -moz-transform: rotate(-4deg);
    }
    37% {
        -moz-transform: rotate(2deg);
    }
    39% {
        -moz-transform: rotate(-1deg);
    }
    41% {
        -moz-transform: rotate(1deg);
    }
    43% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}